#idleReflectionPriceDisplay{
    height: 25px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#Idle_reflection{
    position: relative;
    height: 25px;
    top: 0px;
    margin-bottom: 3px;
}
